@model Portfolio.Entities.Models.Review

@{
    ViewBag.Title = "상품후기 수정";
}

@Html.MenuIdentity("상품후기 수정")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReviewId)
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.IpAdress)
    @Html.HiddenFor(model => model.RefId)
    @Html.HiddenFor(model => model.RefLevel)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.InsertDt)

    <div class="form-row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    if (Model.RefLevel == 0)
    {
        <div class="form-group">
            <label>@Html.DisplayNameFor(x => x.Rating)</label>
            @Html.HiddenFor(model => model.Rating)
            <div class="starRating" data-rating='@Model.Rating'></div>
        </div>
    }

    <div class="form-group">
        <label>@Html.DisplayNameFor(x => x.Title)</label>
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(x => x.Content)</label>
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        @Html.TextAreaFor(model => model.Content)
    </div>

    <div class="row">
        <div class="col text-right">
            <input type="submit" value="수정" class="btn btn-sm btn-outline-secondary ml-2" />
            <button class="btn btn-sm btn-outline-secondary ml-2" onclick="returnList()">목록</button>
        </div>
    </div>
}


@section scripts
{
    <script>
        $(".starRating").starRating({
                starSize: 25,
                starShape: 'rounded',
                emptyColor: 'lightgray',
                hoverColor: 'salmon',
                activeColor: 'rgb(100, 149, 237)',
                disableAfterRate: false,
                callback: function (currentRating, $el) {
                    $('#@Html.IdFor(x => x.Rating)').val(currentRating);
                }
            });

        CKEDITOR.replace(@Html.IdFor(model => model.Content), {
            extraPlugins: 'image2,uploadimage',
                filebrowserUploadUrl: '@Url.Action("UploadImage", "Image")?productId=@Model.ProductId&imageUseType=4',
                filebrowserImageUploadUrl: '@Url.Action("UploadImage", "Image")?productId=@Model.ProductId&imageUseType=4',
                uploadUrl: '@Url.Action("UploadImage", "Image")?productId=@Model.ProductId&imageUseType=4',
                height: 450
        });

        function returnList() {
            event.preventDefault();

            alertify.confirm("수정사항을 저장하지 않고 상품후기 목록으로 돌아가시겠습니까?",
                function () {
                    location.href = '@Url.Action("List")';
                },
                function () {
                    alertify.error("상품후기 목록으로 이동을 취소했습니다.");
                });
        }
    </script>
}

